@media (max-width: 1200px) {
    .s-hero .text {
        max-width: 49%;
    }

    .s-01 .cards {
        gap: 2.4rem;
    }

    .listview-image {
        gap: 2rem 2%;
    }

    .sub-s-01 .image {
        width: 23.5%;
    }
}

@media (max-width: 991px) {
    header nav {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }

    .s-hero .container {
        flex-direction: column;
    }

    .s-hero .text {
        max-width: 100%;
        margin-bottom: 4rem;
        align-items: center;
        text-align: center;
    }

    .s-hero .text h1 {
        text-align: center;
    }

    .s-01 .cards {
        flex-direction: column;
        gap: 2rem;
    }

    .card {
        padding: 4rem 4rem;
    }

    .footer .all-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5.6rem;
    }

    .footer .all-columns .logo-description {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer .all-columns .column .all-links {
        align-items: center;
    }
}

@media (max-width: 768px) {
    .margin-100 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .sub-s-01-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sub-s-01-header button {
        margin-top: 3.2rem;
        width: 100%;
        max-width: 24rem;
    }

    .listview-image {
        gap: 1rem 2%;
    }

    .sub-s-01 .image {
        width: 32%;
    }
}

@media (max-width: 600px) {
    .listview-image {
        gap: 1.6rem 3%;
    }

    .sub-s-01 .image {
        width: 48.5%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    .s-hero {
        margin: 4rem 0rem;
    }

    .s-01 .container {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .listview-image {
        gap: 1.6rem 0%;
    }

    .sub-s-01 .image {
        width: 100%;
    }
}