@media (max-width: 1200px) {
    .s-hero .text {
        max-width: 49%;
    }

    .s-01 .cards {
        gap: 2.4rem;
    }
}

@media (max-width: 991px) {
    header nav {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }

    .s-hero .container {
        flex-direction: column;
    }

    .s-hero .text {
        max-width: 100%;
        margin-bottom: 4rem;
        align-items: center;
        text-align: center;
    }

    .s-hero .text h1 {
        text-align: center;
    }

    .s-01 .cards {
        flex-direction: column;
        gap: 1.6rem;
    }
}

@media (max-width: 768px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {
    html {
        font-size: 55%;
    }

    .s-hero {
        margin: 4rem 0rem;
    }

    .s-01 .container {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}